<div class="container py-5 mt-5">
  <div class="row">
    <div class="col-12">
      <div class="treatment_container">
      <h1>Seus tratamentos:</h1>
      <table class="table table-striped justify-content-center">
        <thead>
          <tr>
            <th>Especialidade</th>
            <th>Preço</th>
            <th>Disponibilidade</th>
            <th>Local</th>
            <th>Médico</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @treatments.each do |treatment| %>
          <tr>
            <td><%= treatment.specialty %></td>
            <td>R$ <%= treatment.price %></td>
            <td><%= "De #{treatment.start_date} a #{treatment.end_date}" %></td>
            <td><%= treatment.address %></td>
            <td><%= treatment.user_id %></td>
            <td>
              <%# <button class="btn-medium" method="get" action="/treatments/:id/edit">Editar</button> %>
              <%= link_to "editar", edit_treatment_path(treatment[:id]), class: "btn-medium"%>
            </td>
            <td>
              <%# <button class="btn-medium">Deletar</button> %>
              <%= link_to "deletar", treatment_path(treatment), method: 'DELETE', remote: true, class: "btn-medium" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
   </div>
  </div>
</div>
