<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white form-card p-3 shadow">
        <h3>Criar um novo tratamento:</h3>
        <%= simple_form_for @treatment do |f| %>
          <%= f.input :specialty, :label => "Especialidade", class: "form-control form-control-lg", type: "text" %>
          <%= f.input :address, :label => "Endereço" %>
          <%= f.input :price, :label => "Preço" %>
          <%= f.input :start_date, :label => "Data Inicial" %>
          <%= f.input :end_date, :label => "Data Final" %>
          <%= f.submit :create, :label => "Criar", class: 'btn-medium' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
