<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white form-card p-3 shadow">
        <h3>Criar um novo tratamento:</h3>
        <%= simple_form_for @treatment do |f| %>
          <%= f.input :specialty, :label => "Especialidade", class: "form-control form-control-lg", type: "text", placeholder: "Ex: Pediatria" %>
          <%= f.input :address, :label => "Endereço", placeholder: "Rua, n°, bairro, cidade" %>
          <%= f.input :price, :label => "Preço" %>
          <%= f.input :availability, :label => "Disponibilidade" %>
          <%= f.input :photo, as: :file, placeholder:"Image", :label => 'Image file:'%>
          <%= f.submit :create, :label => "Criar", class: 'btn-medium' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
