<div class="d-flex justify-content-around appointment-container container mb-3">
  <div class="row mt-5">
      <div class="treatment">
        <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Especialidade</th>
            <td><%= @treatment.specialty.capitalize %></td>
          </tr>
          <tr>
            <th scope="row">Preço da consulta</th>
            <td>R$ <%= @treatment.price %></td>
          </tr>
          <tr>
            <th scope="row">Médico</th>
            <td><%= "#{@treatment.user.first_name.capitalize} #{@treatment.user.last_name.capitalize}" %></td>
          </tr>
          <tr>
            <th scope="row">Endereço</th>
            <td><%= @treatment.address %></td>
          </tr>
          <tr>
            <th scope="row">Disponibilidade</th>
            <td>De <%= @treatment.start_date %> a <%= @treatment.end_date %></td>
          </tr>
        </tbody>
       </table>
     </div>
  </div>
  <div class="row">
    <div class="d-flex flex-column justify-content-around m-3 container mb-0">
      <% if @treatment.user == current_user %>
        <%= link_to 'Editar Tratamento',  edit_treatment_path(@treatment), class: 'btn btn-outline-secondary rounded-pill' %>
        <%= link_to 'Remover Tratamento',  @treatment, method: :delete, class: 'btn btn-outline-danger rounded-pill' %>
    </div>
      <% else %>
    <div class="d-flex justify-content-center align-items-center container">
      <div class="card-appointment py-5 px-3 shadow">
        <h4 class="text-center m-0">Marque sua consulta! </h4>
          <%= simple_form_for [ @treatment, @appointment ] do |f| %>
            <div class="d-flex flex-row mt-5"><%= f.input :date, label: 'Data:' %></div>
            <div class="text-center mt-5"><%= f.submit "Marcar consulta", class: "btn btn-outline-secondary rounded-pill" %></div>
            <% @appointment.errors&.each do |attr, msg| %>
              <%= msg %>
            <% end %>
          <% end %>
      </div>
    </div>
    <% end %>
    </div>

  <div class="container">
    <%= link_to 'Voltar', treatments_path, class: "btn btn-outline-secondary" %>
  </div>
</div>

<div class="d-flex justify-content-center container m-5">
  <%= link_to 'Procurar mais tratamentos', root_path, class: "btn btn-outline-secondary" %>
</div>
