<div class="appointment-container container">
  <div class="row">
    <div class="col-8">
      <div class="treatment">
        <table class="table">
        <tbody>
          <tr>
            <th scope="row">Especialidade</th>
            <td><%= @treatment.specialty.capitalize %></td>
          </tr>
          <tr>
            <th scope="row">Preço da consulta</th>
            <td>R$ <%= @treatment.price %></td>
          </tr>
          <tr>
            <th scope="row">Médico</th>
            <td><%= "#{@treatment.user.first_name.capitalize} #{@treatment.user.last_name.capitalize}" %></td>
          </tr>
          <tr>
            <th scope="row">Endereço</th>
            <td><%= @treatment.address %></td>
          </tr>
          <tr>
            <th scope="row">Disponibilidade</th>
            <td>De <%= @treatment.start_date %> a <%= @treatment.end_date %></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-8">
      <% if @treatment.user == current_user %>
        <%= link_to 'Editar',  edit_treatment_path(@treatment), class: 'btn btn-outline-secondary' %>
        <%= link_to 'Remover',  @treatment, method: :delete, class: 'btn btn-outline-danger' %>
      <% else %>
        <h5>Marque agora sua consulta: </h5>
        <%= simple_form_for [ @treatment, @appointment ] do |f| %>
          <%= f.input :date, label: 'Data' %>
          <%= f.submit "Marcar consulta", class: "btn btn-outline-secondary" %>
          <% @appointment.errors&.each do |attr, msg| %>
            <%= msg %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <div class="container">
    <%= link_to 'Voltar', root_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
