<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="treatment">
        <table class="table">
        <tbody>
          <tr>
            <th scope="row">Especialidade</th>
            <td><%= @treatment.specialty %></td>
          </tr>
          <tr>
            <th scope="row">Preço da consulta</th>
            <td><%= @treatment.price %></td>
          </tr>
          <tr>
            <th scope="row">Médico</th>
            <td><%= "#{@treatment.user.first_name.capitalize} #{@treatment.user.last_name.capitalize}" %></td>
          </tr>
          <tr>
            <th scope="row">Endereço</th>
            <td><%= @treatment.address %></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <% if @treatment.user == current_user %>
        <%= link_to 'Editar',  edit_treatment_path(@treatment), class: 'btn btn-primary' %>
        <%= link_to 'Remover',  @treatment, method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <h3>Marque sua consulta: </h3>
        <%= simple_form_for [ @treatment, @appointment ] do |f| %>
          <%= f.input :date %>
          <%= f.submit "Marcar consulta", class: "btn btn-outline-primary" %>
        <% end %>
      <% end %>
    </div>
  <div class="container">

    <%= link_to 'Voltar', root_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
