<div class="appointment-container container">
  <h2>Editar conta</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "Deixe em branco se não quiser mudar sua senha",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "Insira sua senha para confirmar as alterações",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :avatar, as: :file, placeholder:"Image", direct_upload: true, :label => 'Image file:'%>
    </div>

    <div class="form-actions mb-4">
      <%= f.button :submit, "Atualizar", class: "btn-primary" %>
    </div>
  <% end %>
  <div>
    <h4>Cancelar minha conta</h4>

    <p>Insatisfeito? <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete , class: "button-bootstrap", style: "text-decoration: none"%></p>

    <%= link_to "Voltar", :back %>
    </div>
</div>
