<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top <%="navbar-transparent" if @transparent%>" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
      <%= link_to "#", class: "navbar-brand" do %>
        <p class="text-white" data-action="scroll@window->navbar#updateNavbar" data-navbar-target="p"><%= image_tag "https://www.baitadihospital.gov.np/storage/phpACjFrt.png" %> Doctors4All </p>
      <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" data-action="scroll@window->navbar#updateNavbar">
        <% if user_signed_in? %>
          <li class="nav-item active" data-action="scroll@window->navbar#updateNavbar" data-navbar-target="li">
            <%= link_to "Home", root_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item" data-action="scroll@window->navbar#updateNavbar" data-navbar-target="li">
            <%= link_to "Oferte um Tratamento", new_treatment_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, width: 50, height: 45, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
               <% if current_user.appointments.any? %>
             <%= link_to "Suas consultas", "/appointments", class: "dropdown-item" %>
             <% end %>
              <% if current_user.treatments.any? %>
              <%= link_to "Seus tratamentos", "/treatments", class: "dropdown-item" %>
              <% end %>
              <%= link_to "Editar Perfil", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
