  <h1>Doctors4All</h1>
  <div class="row">
    <div class="col-6">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Find a treatment"%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>
  </div>

  <% @treatments.each do |treatment| %>
    <%= link_to treatment.specialty, treatment_path(treatment) %>
    <%= treatment.address %>
    <%= treatment.price %>
  <% end %>
