
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1624727828489-a1e03b79bba8);">
  <div class="container">
    <h1>Agende agora sua consulta</h1>
    <p><span data-controller="typed-js"></span></p>
    <div class="container">
      <div class="row">
        <div class="col">
          <%= form_tag root_path, method: :get do %>
            <div class="col mt-3 mb-2">
              <%= text_field_tag :specialty,
                                params[:specialty],
                                class: "form-control",
                                placeholder: "Especialidade"%>
            </div>
            <div class="col mt-3 mb-2">
              <%= submit_tag "Pesquisar", class: "btn-medium-border" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
</div>


<div class="second-part">
  <div class="d-flex justify-content-around row treatment-flex">
    <% @treatments.each do |treatment| %>
      <div class="col-3 my-3">
        <div class="treatment-card">
          <div class="treatment-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= treatment.photo.attached? ? cl_image_path(treatment.photo.key) : 'https://images.unsplash.com/photo-1537368910025-700350fe46c7?'%>)"></div>
          <div class="treatment-card-content p-3">
            <div class="d-flex justify-content-center treatment-card-title">
              <h4><%= treatment.specialty.capitalize %></h4>
            </div>
            <div class="m-0">
              <p><%= treatment.address %></p>
              <p><%= "R$ #{treatment.price}"%></p>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to "Detalhes", treatment_path(treatment), class: "btn-medium-branco" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <div style="width: 100%; height: 600px;" data-controller="mapbox" data-mapbox-markers-value="<%= @markers.to_json %>" data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  </div>
</div>
